/* REVEAL BASE */
.reveal {
    opacity: 0;
    transition: all 0.8s ease;
}

/* TỪ DƯỚI */
.reveal-bottom {
    transform: translateY(60px);
}

/* TỪ TRÁI */
.reveal-left {
    transform: translateX(-80px);
}

/* TỪ PHẢI */
.reveal-right {
    transform: translateX(80px);
}

/* KHI HIỆN */
.reveal.active {
    opacity: 1;
    transform: translate(0);
}
